
.columns {
    display: flex;
}

.column {
    flex: 1 0 0;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    gap: 5rem;
    justify-content: center;
    border: 30px solid red;
    padding: 50px;
}
