
.columns {
    display: flex;
    flex-wrap: wrap;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.mid-child {
    justify-content: center;
    background-color: blue;
    color: white;
    border: 45px solid white;
    padding: 50px;
}

.lower {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.lower-child {
    flex: 1 0 0;
    background-color: grey;
    color: black;
    gap: 10px;
    padding: 50px;
    justify-content: center;
    align-items: flex-start;
}

.footer {
    display: flex;
    background-color: green;
    color: white;
    justify-content: center;
}

.column {
    flex: 1 0 0;
    background-color: black;
    color: white;
    gap: 5rem;
    justify-content: center;
    border: 30px solid red;
    padding: 50px;
}
