div.h1 {
    font-family: "Webdings", sans-serif;
    background-color: #0F9D58;
}

.first {
    color: red;
}

#second {
    color: blue;
}

p {
    background-color: black;
    color: white;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
}

.column1 {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
}
.column2 {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
}
.column3 {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
}